- provide :title, @title

%section.posts

  %ul.post-list
    - for post in @posts
      %li 
        %h3
          #{post.title}
          - unless post.published?
            %span.unpub Unpublished!

        %span.meta #{time_ago_in_words post.created_at} ago &mdash; #{l post.created_at, :format => :long}

        %p.tools
          = link_to "Edit", edit_admin_post_path(post)
          = link_to "View on Site", post_path(post), :target => '_blank'
        
        
    