%article{ :id => "post-#{post.id}", :class => 'post' }
  %header
    %h3.post-title
      = link_to post.title, post
    
    %p.post-meta
      Posted #{l post.created_at, :format => :long} in #{post.tag_string.to_sentence.html_safe}

    %section.post-body
      = post.mkdown.html_safe