!!! 5
%html
  %head
    %meta{ :content => "width=device-width", :name => "viewport" }
    = favicon_link_tag 'favicon.png'

    %title= full_title yield(:title)
    
    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags
    = yield :head

    <script type="text/javascript" src="//use.typekit.net/hxb6llz.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  
  %body{ :id => body_id, :class => "#{body_class(yield(:extra_body_classes))}" }
    %header#header
      .inner
        %h1= link_to 'Michael Whalen', root_url
        %p.about
          the home of #{link_to '@whalesalad', 'http://twitter.com/whalesalad', :target => '_blank'}, a designer, hacker
          %br/
          and vagabond living in Washington, DC

    %section.wrapper
      - if flash.present?
        %section.messages
          - flash.each do |name, msg|
            %div{:class => "alert alert-#{name}"}
              .message= msg if msg.is_a?(String)

      - if @inside_admin
        %section.admin-bar
          %p.captain Welcome back Captain!
          %p.details
            Today is #{l Date.today, :format => :long} &mdash; #{link_to 'Write a Post', new_admin_post_path} or return to #{link_to 'Admin Home', admin_path}

      = yield

    = render partial: 'layouts/gauges', :layout => false